@font-face {
  font-family: "NotoSans-Regular";
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "SFProDisplay-Medium";
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  position: relative;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden;
  background-color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #444444; }

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.title {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #141414; }

.subtitle {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: #141414; }

.title-h3 {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  padding: 0; }

.sub {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px; }

.btn-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px; }

.inactive {
  opacity: 0.5;
  pointer-events: none; }

.main-btn {
  display: flex;
  width: fit-content;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0; }
  .main-btn span {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: fit-content;
    color: #ffffff;
    pointer-events: none; }
  .main-btn--inactive {
    opacity: 0.5;
    pointer-events: none; }
  .main-btn svg,
  .main-btn svg path {
    transition: fill 0.3s;
    pointer-events: none; }
  .main-btn:hover {
    filter: drop-shadow(0px 0px 10px rgba(175, 196, 255, 0.8)); }
    .main-btn:hover svg path {
      fill: url(#gradient); }

.black-btn {
  display: flex;
  width: fit-content;
  position: relative;
  transition: all 0.3s; }
  .black-btn span {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: fit-content;
    color: #ffffff; }
  .black-btn--inactive {
    opacity: 0.5; }
  .black-btn:hover {
    filter: drop-shadow(0px 0px 15px #7c9af2); }

.pink-btn {
  display: flex;
  width: fit-content;
  position: relative;
  transition: all 0.3s; }
  .pink-btn span {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: fit-content;
    color: #ffffff; }
  .pink-btn--inactive {
    opacity: 0.5; }
  .pink-btn:hover {
    filter: drop-shadow(0px 0px 15px #fe9393); }

.header-start__inner {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header-start__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0; }

.header-start__item + .header-start__item {
  margin-left: 55px; }

.header-start__link {
  color: #444444;
  transition: all 0.3s; }
  .header-start__link:hover {
    color: #68a9fe; }

.preview {
  margin: 140px 0 300px; }
  .preview.about-preview .preview__inner {
    padding-bottom: 200px; }
    .preview.about-preview .preview__inner .preview__img {
      top: auto;
      bottom: -60px; }
  .preview__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .preview__desc {
    max-width: 60%;
    width: 100%; }
  .preview__title {
    margin-bottom: 50px;
    max-width: 700px;
    width: 100%; }
  .preview__text {
    margin-bottom: 140px;
    max-width: 575px;
    width: 100%; }
  .preview__btns {
    display: flex;
    justify-content: space-between;
    max-width: 432px;
    width: 100%; }
  .preview__img {
    width: 63%;
    position: absolute;
    top: -40px;
    right: -50px;
    z-index: -1; }
  .preview__advantages {
    list-style: none;
    padding: 0;
    margin: 70px 0 0; }
  .preview__advantage {
    margin: 25px 0;
    max-width: 520px;
    width: 100%;
    display: flex;
    align-items: center; }
    .preview__advantage:nth-child(2) {
      margin-top: -10px; }
      .preview__advantage:nth-child(2) .preview__icon {
        margin-left: 0; }
  .preview__icon {
    margin-left: 6px;
    margin-right: 30px; }

.important {
  background: linear-gradient(135deg, #5ba4e5 0%, #7384fe 100%); }
  .important__inner {
    display: flex;
    align-items: center;
    padding: 150px 0 170px; }
  .important__desc {
    max-width: 790px;
    width: 100%; }
  .important__title {
    margin-bottom: 40px;
    color: #ffffff; }
  .important__text {
    color: #ffffff;
    margin: 0; }
    .important__text--peach {
      color: #fe9393; }
  .important__text + .important__text {
    margin-top: 25px; }
  .important__img {
    margin: 0 auto; }

.promo {
  margin: 200px 0 300px; }
  .promo__inner {
    display: flex;
    align-items: start;
    justify-content: space-between; }
  .promo__img {
    max-width: 500px;
    width: 100%; }
  .promo__desc {
    max-width: 600px;
    width: 100%;
    padding-top: 150px; }
  .promo__text {
    margin: 30px 0 0; }

.specialists__inner {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 100px -10px 0;
  width: calc(100% + 20px); }

.specialists__item {
  position: relative;
  margin: 0 10px; }
  .specialists__item:hover .specialists__hover {
    opacity: 1; }
  .specialists__item:hover .specialists__text {
    left: 50%;
    transform: translateX(-50%); }

.specialists__text {
  position: absolute;
  top: 45px;
  left: 30px;
  color: #ffffff;
  z-index: 3;
  transition: all 0.5s; }

.specialists__icon-bg {
  position: absolute;
  left: 0;
  top: 0; }

.specialists__hover {
  position: absolute;
  left: 0;
  top: 0;
  padding: 115px 15px 15px;
  transition: all 0.5s;
  opacity: 0; }
  .specialists__hover-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .specialists__hover-text {
    position: relative;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    z-index: 3;
    margin: 0; }

.symptoms {
  margin-top: 150px; }
  .symptoms__inner {
    margin-top: 90px; }
  .symptoms__item {
    position: relative;
    width: 200px; }
  .symptoms__text {
    position: absolute;
    bottom: 35px;
    left: calc(50% - 82.5px);
    max-width: 165px;
    width: 100%;
    text-align: center;
    color: #000000; }
  .symptoms__arrow {
    background-color: #68a9fe;
    border-radius: 50%;
    border: 1px solid #68a9fe;
    box-shadow: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 20px);
    transition: all 0.3s;
    cursor: pointer; }
    .symptoms__arrow--left {
      left: -65px; }
    .symptoms__arrow--right {
      right: -65px; }
    .symptoms__arrow svg path {
      transition: all 0.3s; }
    .symptoms__arrow:hover {
      background-color: #ffffff; }
      .symptoms__arrow:hover svg path {
        stroke: #68a9fe; }

.about-specialists {
  margin-top: 280px;
  background: linear-gradient(135deg, #5ba4e5 0%, #7384fe 100%); }
  .about-specialists__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 145px 0 100px; }
  .about-specialists__title {
    color: #ffffff;
    max-width: 485px;
    width: 100%; }
  .about-specialists__text {
    color: #ffffff;
    max-width: 615px;
    width: 100%; }
  .about-specialists__slider {
    max-width: 660px;
    width: 100%;
    max-height: 744px; }
  .about-specialists__item {
    min-height: 744px;
    max-width: 660px;
    width: 100%;
    background-image: url(../img/about-specialists-card-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center; }
  .about-specialists__img {
    border-radius: 50%;
    margin-bottom: 25px; }
  .about-specialists__name {
    text-align: center;
    margin-bottom: 15px; }
  .about-specialists__lastname {
    display: block; }
  .about-specialists__about {
    margin-top: 20px;
    color: #7d7d7d; }
  .about-specialists__services {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px -10px 0;
    max-width: 555px;
    width: calc(100% + 20px); }
  .about-specialists__service {
    margin: 0 10px;
    background-image: url(../img/about-specialists-service-bg.png);
    background-size: 100% 100%;
    min-width: 155px;
    padding: 8px 10px 12px;
    color: #fe9393; }
    .about-specialists__service:nth-child(1), .about-specialists__service:nth-child(2) {
      margin: 0 20px; }
  .about-specialists .slick-dots {
    padding: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    display: flex; }
    .about-specialists .slick-dots li {
      margin: 0 10px;
      padding: 0; }
      .about-specialists .slick-dots li.slick-active button {
        background-color: #fe9393; }
    .about-specialists .slick-dots li button {
      width: 12px;
      height: 12px;
      background-color: #ffffff;
      border-radius: 100%;
      border: none;
      box-shadow: none;
      cursor: pointer; }

.about-specialists + .app {
  margin-top: 0; }

.steps {
  margin-top: 250px; }
  .steps__inner {
    margin: 100px -10px 0;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .steps__inner + .steps__inner {
      margin-top: 150px;
      margin-bottom: 260px; }
  .steps__item {
    margin: 0 10px;
    max-width: 400px;
    width: 100%; }
  .steps__img {
    margin: 0 10px 0 -5%;
    width: calc(50%); }
  .steps__desc {
    max-width: calc(50% - 20px);
    width: 100%;
    margin: 0 10px; }

.app {
  margin-top: 200px;
  position: relative;
  padding: 180px 0 200px; }
  .app::after {
    content: "";
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
    z-index: -2; }
  .app__inner {
    display: flex;
    justify-content: space-between; }
  .app__title {
    max-width: 560px;
    width: 100%;
    margin: 80px 0 88px; }
  .app__btns {
    display: flex;
    justify-content: space-between;
    max-width: 432px;
    width: 100%; }
  .app__wrapper {
    position: relative; }
    .app__wrapper::before {
      content: "";
      position: absolute;
      left: -50%;
      top: 25%;
      width: 560px;
      height: 560px;
      border-radius: 100%;
      background-color: #fed1f1;
      z-index: -1; }
    .app__wrapper::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10%;
      width: 395px;
      height: 395px;
      border-radius: 100%;
      background-color: #fed1f1;
      z-index: -1; }
  .app__img {
    margin-right: 70px; }

.start-footer__list {
  position: relative;
  list-style: none;
  margin: -100px 0 0;
  padding: 0;
  display: flex;
  z-index: 3; }

.start-footer__item {
  margin: 0; }
  .start-footer__item + .start-footer__item {
    margin-left: 60px; }
  .start-footer__item:nth-last-child(1) {
    margin-left: auto; }

.start-footer__link {
  color: #7d7d7d; }

.accordion {
  margin-top: 220px; }
  .accordion__title {
    margin-left: 50%; }
  .accordion__inner {
    margin-top: 100px; }
  .accordion__item {
    padding: 40px 0 0;
    border-top: 1px solid #7d7d7d;
    cursor: pointer; }
    .accordion__item.active {
      padding: 40px 0; }
      .accordion__item.active .accordion__question::before {
        transform: rotate(45deg); }
      .accordion__item.active .accordion__question::after {
        transform: rotate(135deg); }
      .accordion__item.active .accordion__text {
        height: 120px; }
    .accordion__item:nth-last-child(1) {
      border-bottom: 1px solid #7d7d7d; }
  .accordion__question {
    pointer-events: none;
    position: relative;
    margin-bottom: 40px; }
    .accordion__question::before {
      content: "";
      position: absolute;
      right: 20px;
      width: 5px;
      height: 45px;
      background-color: #fe9393;
      transition: all 0.3s; }
    .accordion__question::after {
      content: "";
      position: absolute;
      right: 20px;
      width: 5px;
      height: 45px;
      background-color: #fe9393;
      transition: all 0.3s;
      transform: rotate(90deg); }
  .accordion__text {
    pointer-events: none;
    transition: all 0.3s;
    height: 0;
    overflow: hidden; }

.accordion + .about-specialists {
  margin-top: 200px; }

/*Registration and Login*/
.login {
  min-height: 100vh;
  margin-top: -136px;
  padding-top: 136px;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%); }
  .login__inner {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .login__title {
    display: inline-block;
    margin-top: 150px; }
  .login__reg {
    margin-left: 50px;
    color: #68a9fe;
    text-decoration: none; }
  .login__window {
    padding: 40px 48px;
    background: #ffffff;
    border-radius: 20px;
    max-width: 430px;
    width: 100%;
    display: none; }
    .login__window.active {
      display: inline-block; }
  .login__subtitle {
    margin-bottom: 25px; }
  .login__icons {
    margin-bottom: 30px; }
  .login__icon {
    display: inline-block;
    width: 32px;
    height: 32px; }
    .login__icon + .login__icon {
      margin-left: 15px; }
  .login__form {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%; }
    .login__form--recover {
      margin-top: 40px; }
      .login__form--recover .login__btn {
        margin-top: 40px; }
  .login__input {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    background: transparent;
    color: #7d7d7d;
    padding: 9px 24px 11px;
    outline-color: #bdbdbd; }
    .login__input::placeholder {
      color: #7d7d7d; }
    .login__input + .login__input {
      margin-top: 30px; }
  .login__forgot-link {
    font-size: 16px;
    line-height: 28px;
    margin: 16px 0 30px;
    color: #68a9fe;
    cursor: pointer; }
  .login__img {
    max-width: 650px;
    width: 100%; }
  .login__back {
    font-size: 14px;
    color: #68a9fe;
    margin-top: 30px;
    cursor: pointer; }

.reg {
  min-height: 100vh;
  margin-top: -136px;
  padding-top: 136px;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
  /*3 step*/
  /*4 step*/
  /*5 step*/ }
  .reg__inner {
    margin-top: 100px;
    width: 100%;
    display: flex; }
  .reg__tabs-btns {
    background-image: url(../img/reg-icons/reg-steps-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 315px;
    width: 100%;
    height: 690px;
    list-style: none;
    padding: 40px 45px;
    margin: 0; }
  .reg__tabs-btn {
    margin-bottom: 23px;
    cursor: pointer; }
    .reg__tabs-btn-text {
      margin-top: 10px;
      color: #7d7d7d;
      transition: all 0.3s;
      position: relative;
      pointer-events: none; }
      .reg__tabs-btn-text::after {
        content: "";
        width: 25px;
        height: 18px;
        background-image: url(../img/reg-icons/reg-icon-step-complete.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: -10px;
        top: 5px;
        opacity: 0; }
    .reg__tabs-btn.active .reg__tabs-btn-text, .reg__tabs-btn:hover .reg__tabs-btn-text {
      color: #444444; }
    .reg__tabs-btn.active .reg__tabs-icon, .reg__tabs-btn:hover .reg__tabs-icon {
      background-color: #fe9393; }
      .reg__tabs-btn.active .reg__tabs-icon svg path, .reg__tabs-btn:hover .reg__tabs-icon svg path {
        fill: #ffffff; }
    .reg__tabs-btn.complete .reg__tabs-btn-text::after {
      opacity: 1;
      transition: all 1s; }
  .reg__tabs-icon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.3s; }
    .reg__tabs-icon svg path {
      transition: all 0.3s; }
  .reg__wrapper {
    background-image: url(../img/reg-icons/reg-content-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 1000px;
    width: 100%;
    height: 690px;
    margin-left: 30px;
    padding: 50px 45px;
    position: relative; }
  .reg__steps-count {
    margin-bottom: 20px; }
  .reg__tabs-content {
    display: none; }
    .reg__tabs-content.active {
      display: block; }
  .reg__tabs-content .reg__desc {
    max-width: 680px;
    width: 100%;
    margin-bottom: 40px; }
  .reg__social {
    display: inline-block;
    margin-bottom: 40px; }
  .reg__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 25px;
    margin-bottom: -8px;
    text-decoration: none; }
  .reg__form {
    width: 100%; }
    .reg__form--doctor .reg__input--mail {
      margin-right: 40px; }
  .reg__input {
    padding: 10px 24px;
    border: 1px solid #444444;
    color: #444444;
    font-size: 20px;
    outline-color: #7d7d7d;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-bottom: 40px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400; }
    .reg__input::placeholder {
      color: #7d7d7d; }
    .reg__input--name, .reg__input--tags {
      max-width: 730px;
      width: 100%; }
    .reg__input--phone, .reg__input--mail, .reg__input--special, .reg__input--grade {
      max-width: 267px;
      width: 100%;
      margin-right: 40px; }
    .reg__input--mail {
      margin-right: 160px; }
    .reg__input--weight, .reg__input--height, .reg__input--exp {
      max-width: 115px;
      width: 100%;
      margin-right: 40px; }
  .reg__textarea {
    max-width: 730px;
    width: 100%;
    min-height: 160px;
    max-height: fit-content;
    resize: none;
    padding: 10px 24px;
    border: 1px solid #444444;
    color: #444444;
    font-size: 20px;
    outline-color: #7d7d7d;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-bottom: 40px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400; }
    .reg__textarea::placeholder {
      color: #7d7d7d; }
  .reg__label {
    position: relative;
    padding-right: 45px;
    opacity: 0.7;
    font-size: 24px;
    pointer-events: none; }
    .reg__label::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border: 4px solid #68a9fe;
      border-radius: 100%;
      top: 10px;
      right: 25px;
      opacity: 0.7;
      pointer-events: none; }
    .reg__label--adds::after {
      right: auto;
      left: 10px; }
  .reg__radio {
    opacity: 0;
    margin: 0 -60px 0 0;
    cursor: pointer;
    width: 40px;
    height: 20px; }
    .reg__radio-desc {
      margin-right: 30px; }
  .reg__radio:checked + .reg__label::after,
  .reg__radio:checked + .reg__label {
    opacity: 1; }
  .reg__wrapper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 90px);
    bottom: 50px; }
  .reg__btn, .reg__btn--finish {
    font-size: 20px; }
  .reg__adds-text {
    position: relative;
    padding-left: 30px; }
    .reg__adds-text::before {
      content: "";
      width: 13px;
      height: 10px;
      position: absolute;
      left: 1.5px;
      top: 8px;
      background-image: url(../img/reg-icons/done-arrow-adds.svg);
      opacity: 0;
      transition: all 0.3s; }
    .reg__adds-text::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 1px;
      top: 6px;
      border: 1px solid #68a9fe;
      cursor: pointer; }
  .reg__checkbox {
    margin: 0 -20px 0 0;
    opacity: 0; }
  .reg__checkbox:checked + .reg__adds-text::before {
    opacity: 1; }
  .reg__pass {
    color: #68a9fe;
    cursor: pointer; }
    .reg__pass--false {
      opacity: 0.5;
      pointer-events: none; }
  .reg__file-wrapper {
    position: relative;
    padding-left: 50px;
    width: fit-content; }
    .reg__file-wrapper.hidden {
      display: none; }
  .reg__file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0;
    top: 0;
    opacity: 0; }
  .reg__file-label {
    color: #68a9fe; }
    .reg__file-label::before {
      content: "";
      position: absolute;
      cursor: pointer;
      left: 0;
      top: -1px;
      height: 32px;
      width: 32px;
      background-image: url(../img/reg-icons/reg-add-file.svg); }
  .reg__file-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px -10px 50px;
    max-width: 800px;
    width: 100%;
    height: fit-content;
    max-height: 250px;
    overflow: auto; }
  .reg__file-item {
    display: flex;
    align-items: flex-end;
    margin: 0 10px 30px; }
  .reg__file-icon {
    cursor: pointer; }
  .reg__file-name {
    padding: 10px 24px;
    border: 1px solid #444444;
    border-radius: 10px;
    color: #444444;
    font-size: 20px;
    outline-color: #68a9fe;
    border: 1px solid #bdbdbd;
    max-width: 300px;
    width: 100%;
    margin-left: 20px; }
    .reg__file-name::placeholder {
      color: #7d7d7d; }
  .reg__file-formats {
    color: #7d7d7d; }
  .reg__form-analyze {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; }
  .reg__analyze {
    margin-bottom: 30px;
    display: inline-block;
    width: 45%; }
    .reg__analyze-desc {
      margin-bottom: 20px; }
    .reg__analyze-item {
      display: flex;
      align-items: center; }
    .reg__analyze-name {
      display: inline-block;
      font-size: 20px;
      margin-left: 20px; }
  .reg__recomendations {
    display: flex;
    align-items: flex-start;
    width: 100%; }
  .reg__meals {
    display: inline-block;
    max-width: 270px;
    width: 100%; }
    .reg__meals-title {
      margin-bottom: 25px; }
    .reg__meals-item {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px; }
    .reg__meals-img {
      height: 68px;
      width: 68px;
      background-color: #d8d8d8;
      border-radius: 5px;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .reg__meals-desc {
      margin-bottom: 5px; }
    .reg__meals-link {
      color: #68a9fe; }
      .reg__meals-link svg {
        margin-left: 10px; }
  .reg__buds {
    display: inline-block;
    margin: 0 auto; }
    .reg__buds-title {
      margin: 0 0 25px 27px; }
    .reg__buds-item {
      position: relative;
      display: inline-block;
      max-width: 220px;
      width: 100%;
      text-align: center; }
    .reg__buds-img {
      width: 160px;
      height: 160px;
      background-color: #d8d8d8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin: 0 auto 15px; }
    .reg__buds-price {
      position: absolute;
      top: 15px;
      right: -10px; }
      .reg__buds-price span {
        margin-right: 5px; }
  .reg__slider {
    position: relative;
    margin-left: -5px;
    margin-right: -45px; }
    .reg__slider::after {
      content: "";
      height: 100%;
      width: 20%;
      background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.7) 60%);
      position: absolute;
      top: 0;
      right: 0; }
  .reg__doctor {
    position: relative;
    max-width: 380px;
    width: 380px;
    background: #ffffff;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 30px;
    margin: 5px 30px 5px 5px; }
    .reg__doctor-img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: #d8d8d8; }
    .reg__doctor-name {
      margin: 10px 0; }
    .reg__doctor-desc {
      margin-bottom: 25px; }
    .reg__doctor-link {
      font-size: 16px; }
    .reg__doctor-rating {
      position: absolute;
      top: 40px;
      right: 30px; }
      .reg__doctor-rating svg + svg {
        margin-left: 10px; }

/*client profile*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .header .logo {
    display: flex; }
  .header__inner {
    margin-top: 65px;
    display: flex;
    align-items: center; }
  .header__search {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #ffffff;
    padding: 16px 25px 18px;
    width: 265px;
    margin: 0 0px 0 40px;
    background-image: url(../img/search-border.svg);
    background-position: center;
    font-size: 20px;
    outline: none; }
    .header__search::placeholder {
      color: #ffffff; }
  .header__nav {
    margin: 0 auto; }
  .header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; }
  .header__item + .header__item {
    margin-left: 40px; }
  .header__link {
    color: #ffffff; }
  .header__profile {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: -10px;
    cursor: pointer;
    overflow: hidden; }
    .header__profile:hover {
      overflow: visible; }
      .header__profile:hover .header__profile-menu {
        opacity: 1;
        transition: all 0.3s; }
    .header__profile-menu {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 60px;
      max-width: 340px;
      width: 100%;
      padding: 40px;
      background-color: #ffffff;
      list-style: none;
      margin: 0;
      box-shadow: 0px 2px 14px rgba(79, 79, 79, 0.5);
      border-radius: 20px;
      border-top-right-radius: 0;
      opacity: 0; }
      .header__profile-menu::after {
        content: "";
        position: absolute;
        top: -15px;
        right: 0;
        width: 45px;
        height: 15px;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        background-color: #ffffff;
        box-shadow: 0px 2px 14px rgba(79, 79, 79, 0.5); }
    .header__profile-item + .header__profile-item {
      margin-top: 15px; }
    .header__profile-link {
      display: block;
      text-decoration: none;
      color: #444444;
      transition: all 0.3s; }
      .header__profile-link:hover {
        color: #68a9fe; }
  .header__img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-right: 25px; }
  .header__name {
    margin-right: 15px;
    color: #ffffff; }

.menu {
  min-height: 685px;
  background: linear-gradient(97.21deg, #48c6ef 0.97%, #6f86d6 99.06%);
  padding: 245px 0 20px;
  display: flex;
  flex-direction: column; }
  .menu__person {
    color: #ffffff;
    margin-bottom: 30px; }
  .menu__facts {
    list-style: none;
    padding: 0;
    margin: 0 0 65px 0;
    display: flex; }
  .menu__item {
    color: #ffffff;
    padding: 0;
    margin: 0; }
    .menu__item + .menu__item {
      margin-left: 55px; }
  .menu__btn {
    display: inline-block;
    position: relative;
    color: #ffffff;
    transition: all 0.3s; }
    .menu__btn div {
      position: absolute;
      left: 25px;
      top: 45%;
      transform: translateY(-50%); }
    .menu__btn path {
      transition: all 0.3s; }
    .menu__btn:hover div {
      color: #444444; }
    .menu__btn:hover path {
      fill: #ffffff; }

.tabs__list {
  list-style: none;
  padding: 0;
  margin: 110px 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.tabs__item {
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  max-width: fit-content;
  position: relative;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .tabs__item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #f9fcff;
    opacity: 0;
    transition: all 0.3s; }
  .tabs__item:hover::before, .tabs__item.active::before {
    opacity: 1; }
  .tabs__item svg {
    margin-right: 15px; }
  .tabs__item span {
    pointer-events: none; }

.content-block {
  background-color: #f9fcff;
  padding: 30px 0 140px; }
  .content-block__inner {
    display: none; }
    .content-block__inner.active {
      display: block; }
    .content-block__inner--general {
      align-items: flex-start;
      justify-content: space-between; }
      .content-block__inner--general.active {
        display: flex; }

.general {
  background-image: url(../img/generl-content-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 895px;
  width: 100%;
  padding: 50px; }
  .general__form--new {
    height: 0;
    overflow: hidden;
    transition: all 0.3s; }
    .general__form--new.active {
      height: 1225px; }
  .general__tabs-content {
    display: none;
    position: relative; }
    .general__tabs-content.active {
      display: block; }
  .general__tabs-btns {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    display: none; }
    .general__tabs-btns.active {
      display: flex; }
  .general__tabs-btn {
    cursor: pointer;
    color: #7d7d7d;
    transition: all 0.3s; }
    .general__tabs-btn + .general__tabs-btn {
      margin-left: 100px; }
    .general__tabs-btn:hover, .general__tabs-btn.active {
      color: #444444; }
  .general__subtitle--inline {
    display: inline-block; }
  .general__stats {
    list-style: none;
    padding: 0;
    margin: 0; }
  .general__stat {
    display: flex;
    width: 100%;
    padding: 15px;
    margin: 0 -15px;
    border-bottom: 1px solid #f1f1f1; }
    .general__stat:nth-last-child(1) {
      border: none; }
    .general__stat-name {
      color: #7d7d7d;
      max-width: 285px;
      width: 100%;
      margin-right: 15px; }
  .general__comment {
    margin: 55px 0 24px; }
  .general__symptoms {
    margin: 40px 0;
    padding-bottom: 45px;
    border-bottom: 1px solid #f1f1f1; }
    .general__symptoms:nth-last-child(1) {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0; }
    .general__symptoms--man .general__symptom {
      display: block;
      max-width: fit-content !important; }
    .general__symptoms--more {
      display: flex;
      align-items: flex-start;
      justify-content: space-between; }
  .general__symptom {
    display: inline-block;
    max-width: 439px;
    width: 100%;
    margin-bottom: 30px;
    position: relative; }
    .general__symptom:nth-child(odd) {
      max-width: 320px; }
    .general__symptom:nth-last-child(1) {
      margin-bottom: 0; }
  .general__checkbox {
    position: absolute;
    width: 20px;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    margin: 0; }
    .general__checkbox:checked + .general__checkbox-label {
      color: #444444; }
      .general__checkbox:checked + .general__checkbox-label::before {
        border-color: #fe9393; }
      .general__checkbox:checked + .general__checkbox-label::after {
        opacity: 1; }
  .general__checkbox-label {
    transition: all 0.3s;
    padding-left: 25px;
    color: #7d7d7d;
    position: relative;
    pointer-events: none; }
    .general__checkbox-label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 16px;
      height: 16px;
      border: 1px solid #7d7d7d;
      transition: all 0.3s; }
    .general__checkbox-label::after {
      content: "";
      position: absolute;
      left: 1px;
      top: 6px;
      width: 13px;
      height: 13px;
      background-image: url(../img/symptom-checked-icon.svg);
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.3s;
      opacity: 0; }
  .general__col {
    display: inline-block;
    max-width: 340px;
    width: 100%; }
    .general__col:nth-child(2) .general__input {
      max-width: 125px; }
  .general__input {
    width: 100%;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400;
    padding: 10px 15px;
    color: #444444;
    border: 1px solid #68a9fe;
    border-radius: 10px;
    box-shadow: none;
    margin-bottom: 25px;
    line-height: 28px;
    font-size: 20px;
    outline: none; }
    .general__input::placeholder {
      color: #7d7d7d;
      font-size: 20px; }
    .general__input--disease {
      max-width: 615px;
      resize: none;
      min-height: 75px;
      max-height: fit-content; }
      .general__input--disease-name {
        min-height: auto; }
  .general__input-label {
    display: block;
    margin-bottom: 10px; }
  .general__disease-text {
    max-width: 725px; }
  .general__disease-new {
    display: block;
    margin-bottom: 25px; }
  .general__disease-label {
    display: block;
    max-width: 615px;
    width: 100%;
    margin: 15px 0; }
  .general__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 42px 0 0;
    position: absolute;
    right: 0;
    top: 5px;
    color: #68a9fe; }
    .general__btn::after {
      content: "";
      position: absolute;
      right: 0;
      top: -2px;
      width: 32px;
      height: 32px;
      background-image: url(../img/reg-icons/reg-add-file.svg);
      background-repeat: no-repeat;
      background-position: center; }
    .general__btn--cancel {
      opacity: 0;
      transition: all 0.3s;
      top: 165px;
      color: #7d7d7d; }
      .general__btn--cancel::after {
        background-image: url(../img/cancel-added-disease.svg); }
      .general__btn--cancel.active {
        opacity: 1; }
  .general__file-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
    width: calc(100% + 20px);
    margin: 45px -10px 0; }
  .general__file-item {
    display: flex;
    align-items: flex-end;
    max-width: calc(50% - 20px);
    width: 100%;
    margin: 0 10px 20px; }
  .general__file-name {
    display: inline-block;
    margin-left: 15px; }
  .general__save {
    margin: 40px 0 60px; }
  .general__history {
    padding-top: 25px;
    margin-bottom: 15px;
    border-top: 1px solid #f1f1f1; }
    .general__history-name {
      cursor: pointer;
      padding-bottom: 10px;
      position: relative; }
      .general__history-name::after {
        content: "";
        position: absolute;
        right: 0;
        top: 5px;
        width: 22px;
        height: 13px;
        background-image: url(../img/disease-history-arrow.svg);
        transition: all 0.3s; }
    .general__history-date {
      color: #7d7d7d;
      transition: all 0.3s; }
    .general__history .general__form {
      height: 0;
      overflow: hidden;
      transition: all 0.3s; }
    .general__history.active .general__history-name::after {
      transform: rotate(180deg); }
    .general__history.active .general__history-date {
      opacity: 0; }
    .general__history.active .general__form {
      height: 1100px; }

.tasks {
  position: relative;
  padding: 40px;
  background-image: url(../img/general-tasks-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 430px;
  width: 100%;
  margin-left: 35px; }
  .tasks__title {
    margin-bottom: 25px; }
  .tasks__dates {
    cursor: pointer;
    position: absolute;
    top: 43px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-image: url(../img/tasks-calendar.svg); }
    .tasks__dates:hover .tasks__datepicker {
      display: block; }
  .tasks__empty {
    display: none;
    padding-bottom: 175px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f1f1f1; }
    .tasks__empty.active {
      display: block; }
  .tasks__text {
    margin-bottom: 40px;
    color: #7d7d7d; }
  .tasks__btn {
    display: flex;
    width: 200px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 25px auto 15px;
    color: #444444;
    transition: all 0.3s; }
    .tasks__btn div {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      width: fit-content;
      pointer-events: none; }
    .tasks__btn path {
      transition: all 0.3s; }
    .tasks__btn:hover {
      color: #ffffff; }
      .tasks__btn:hover path {
        fill: #68a9fe; }
    .tasks__btn--cancel, .tasks__btn--rec, .tasks__btn--doctor {
      margin: 0 0 15px; }
    .tasks__btn:nth-last-child(2) {
      margin-top: 30px; }
    .tasks__btn--pink {
      margin-top: 10px;
      float: left; }
    .tasks__btn--inactive {
      opacity: 0.5;
      pointer-events: none; }
  .tasks__datepicker {
    position: absolute;
    bottom: 30px;
    right: -10px;
    padding-bottom: 53px;
    z-index: 10;
    display: none; }
  .tasks .datepicker {
    box-sizing: border-box;
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    padding: 90px 75px 45px;
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.110659);
    border-radius: 20px;
    border: none; }
    .tasks .datepicker::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 35px;
      width: 73px;
      height: 53px;
      background-image: url(../img/calendar-polygon.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
  .tasks .datepicker--days-names {
    margin: 0 -15px; }
  .tasks .datepicker--day-name {
    font-size: 20px;
    display: inline-block;
    color: #7d7d7d;
    margin: 0 15px;
    text-transform: lowercase;
    width: fit-content; }
    .tasks .datepicker--day-name.-weekend- {
      color: #fe9393; }
  .tasks .datepicker--nav {
    border: none;
    padding: 0 4px;
    max-width: 350px;
    font-size: 20px; }
  .tasks .datepicker--nav-action {
    width: auto;
    color: #68a9fe; }
  .tasks .datepicker--nav-title {
    pointer-events: none;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center; }
  .tasks .datepicker--nav-action:hover,
  .tasks .datepicker--nav-title:hover {
    background: transparent; }
  .tasks .datepicker--cells {
    margin: 0 -13px; }
  .tasks .datepicker--cell {
    height: 32px;
    width: 32px;
    margin: 4px 10.29px;
    font-size: 20px;
    text-align: center; }
    .tasks .datepicker--cell.-weekend- {
      color: #fe9393; }
    .tasks .datepicker--cell.-focus- {
      border: 1px solid #68a9fe;
      background-color: transparent;
      color: #7d7d7d; }
    .tasks .datepicker--cell.-selected- {
      border: 1px solid #68a9fe;
      background-color: transparent;
      color: #68a9fe; }
  .tasks .datepicker--cell-day.-other-month- {
    opacity: 0; }
  .tasks__months {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tasks__item {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f1f1f1;
    position: relative; }
  .tasks__date {
    color: #7d7d7d;
    margin-bottom: 15px;
    padding-left: 32px;
    position: relative; }
    .tasks__date::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background-color: #fe9393;
      position: absolute;
      left: 0;
      top: 3px; }
  .tasks__subtitle {
    margin-bottom: 15px; }
  .tasks__doctor {
    color: #7d7d7d;
    margin-bottom: 15px; }
  .tasks__time {
    margin-bottom: 8px; }
  .tasks__timer {
    margin-bottom: 30px; }
  .tasks__today {
    color: #7d7d7d;
    margin-left: 30px; }
  .tasks__close {
    position: absolute;
    top: 35px;
    right: 0;
    color: #7d7d7d; }
  .tasks__tabs-btn {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 80px;
    color: #7d7d7d; }
    .tasks__tabs-btn.active {
      color: #444444; }
    .tasks__tabs-btn + .tasks__tabs-btn {
      margin-left: 100px; }
  .tasks__list {
    display: none; }
    .tasks__list.active {
      display: block; }
  .tasks__all {
    display: none; }
    .tasks__all.active {
      display: block; }
    .tasks__all .tasks__item {
      padding-bottom: 120px;
      margin-top: 40px; }
      .tasks__all .tasks__item:nth-last-child(1) {
        border: none; }
    .tasks__all .tasks__time {
      position: absolute;
      top: 0;
      right: 0;
      color: #68a9fe; }
      .tasks__all .tasks__time.inactive {
        color: #7d7d7d; }
    .tasks__all .tasks__timer {
      position: absolute;
      top: 35px;
      right: 0;
      color: #68a9fe; }
    .tasks__all .tasks__btn {
      float: left;
      margin-top: 10px; }
      .tasks__all .tasks__btn--cancel {
        margin-left: 40px; }
      .tasks__all .tasks__btn--doctor {
        margin-left: 40px; }
    .tasks__all .tasks__date {
      position: absolute;
      padding: 0;
      top: 0;
      right: 0;
      color: #444444; }
      .tasks__all .tasks__date::before {
        display: none; }
