html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  @include r {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: $text;
  &.active {
    overflow: hidden;
    min-height: 500px;
    height: 100vh;
    &-notifications {
      overflow: hidden;
      height: 100vh;
      min-height: 730px;
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 17px;
    font-family: "SFProDisplay-Regular", sans-serif;
    font-weight: 400;
  }
}

.main {
  background-color: $bg;
  @include r {
    background-color: $bg-mobile;
  }
  &--white {
    background-color: transparent;
  }
  &-reg {
    height: calc(100vh);
    background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
    @include r {
      height: auto;
    }
  }
}
.header-start + .main {
  background-color: transparent;
}
address,
input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: none;
}

@media (max-width: 768px) {
  address,
  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-family: "SFProDisplay-Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.container {
  max-width: 1360px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @include r {
    padding: 0 24px;
  }

  &--flex {
    display: flex;
    flex-direction: column;
    height: 420px;
    @include r {
      height: auto;
      display: block;
    }
  }
}

.title {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: $title;
}
@media (max-width: 768px) {
  .title {
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    font-size: 22px;
  }
}
.subtitle {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  color: $title;
}

.title-h3 {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .subtitle,
  .title-h3 {
    font-family: "SFProDisplay-Medium", sans-serif;
    font-weight: 500;
    font-size: 22px;
  }
}

.sub {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
}

.btn-text {
  font-size: 20px;
  @include r {
    font-size: 17px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 56px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/main-btn-200.svg);
  background-repeat: no-repeat;
  font-size: 20px;
  color: $white;

  & span {
    color: $white;
    pointer-events: none;
    transition: all 0.3s;
  }
  &--inactive {
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    @include blue-shadow;
    background-image: url(../img/main-btn-200-hover.svg);
  }

  @include r {
    width: 100%;
    font-size: 17px;
    background-image: none;
    background: $blue;
    border-radius: 10px;
    padding: 12px 20px 14px;
    height: auto;
    &:hover {
      background-image: none;
      @include main-gradient;
    }
  }

  &--shadow {
    background-image: url(../img/main-btn-200-hover.svg);
    &:hover {
      background-image: url(../img/shadow-btn-200-hover.svg);
      @include pink-shadow;
    }

    @include r {
      background-image: none;
      @include main-gradient;
      &:hover {
        background: $peach;
        background-image: none;
      }
    }
  }

  &--stroke {
    background-image: url(../img/stroke-btn-200.svg);
    & span {
      color: $text;
    }
    &:hover {
      box-shadow: none;
      background-image: url(../img/stroke-btn-200-hover.svg);
      & span {
        color: $white;
      }
    }
    @include r {
      border: 1px solid $blue;
      background-image: none;
      background-color: transparent;
      &:hover {
        box-shadow: none;
        background-image: none;
        background-color: $blue;
        & span {
          color: $white;
        }
      }
    }
  }

  &--stroke--white {
    background-image: url(../img/stroke-white-btn-200.svg);
    &:hover {
      box-shadow: none;
      background-image: url(../img/stroke-white-btn-200-hover.svg);
      & span {
        color: $text;
      }
    }
    @include r {
      width: 100%;
      height: auto;
      padding: 10px 10px 12px;
      background-image: none;
      border: 1px solid white;
      background-color: transparent !important;
      &:hover {
        background-image: none;
        background-color: white !important;
        color: $text;
      }
    }
  }

  &--black {
    background-image: url(../img/black-btn-200.svg);
    &:hover {
      @include extra-shadow;
      background-image: url(../img/black-btn-200.svg);
    }
    @include r {
      background-image: none;
      background-color: black;
      &:hover {
        background-color: black;
        background-image: none;
      }
    }
  }

  &--stroke-mobile {
    @include r {
      background-color: #fff;
      border: 1px solid $blue;
      span {
        color: $text;
      }
      &:hover {
        span {
          color: white;
        }
      }
    }
  }
}

.layer-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 169, 254, 0.2);
  backdrop-filter: blur(15px);
  display: none;
  &.active {
    display: block;
  }
}

.mobileOnly {
  display: none !important;
  @include r {
    display: block !important;
  }
}

.desktopOnly {
  @include r {
    display: none !important;
  }
}

.slick-dots {
  font-size: 0;
}
@include r {
  .slick-dots {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      &.slick-active button {
        border: 3px solid #68a9fe;
      }
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    & li button {
      width: 10px;
      height: 10px;
      border: 2px solid #e3eaff;
      border-radius: 100%;
      padding: 0;
      background-color: white;
    }
  }
}
