html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

body {
  background-color: white;
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.4;
}

.title {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
.subtitle {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.title-h3 {
  font-family: "NotoSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.sub {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.btn-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
}