html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
}

input {
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  &[type="checkbox"] {
    margin: 0;
  }
  &[type="radio"] {
    margin: 0;
  }
}

input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
