// Colors
$bg: #f9fcff;
$bg-mobile: #eff5fb;
$blue: #68a9fe;
$yellow: #ffc95a;
$white: #ffffff;
$text: #444444;
$title: #141414;
$peach: #fe9393;
$light-text: #7d7d7d;
$pink: #fed1f1;
$grey: #d6d6d6;

// Gradients
@mixin main-gradient {
  background: linear-gradient(135deg, #5ba4e5 0%, #7384fe 100%);
}
@mixin pink-gradient {
  background: linear-gradient(90deg, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
}

// Box-shadows
@mixin blue-shadow {
  filter: drop-shadow(0px 0px 10px rgba(175, 196, 255, 0.8));
}
@mixin pink-shadow {
  filter: drop-shadow(0px 0px 15px #fe9393);
}
@mixin extra-shadow {
  filter: drop-shadow(0px 0px 15px #7c9af2);
}

@mixin mobileBold {
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 500;
}

@mixin r {
  @media (max-width: 768px) {
    @content;
  }
}
