@import "fonts";
@import "vars";
@import "global";

.header-start {
  &__inner {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item + &__item {
    margin-left: 55px;
  }
  &__link {
    color: $text;
    transition: all 0.3s;
    &:hover {
      color: $blue;
    }
  }
}

.preview {
  margin: 140px 0 300px;
  &.about-preview &__inner {
    padding-bottom: 200px;
    & .preview__img {
      top: auto;
      bottom: -60px;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__desc {
    max-width: 60%;
    width: 100%;
  }
  &__title {
    margin-bottom: 50px;
    max-width: 700px;
    width: 100%;
  }
  &__text {
    margin-bottom: 140px;
    max-width: 575px;
    width: 100%;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    max-width: 432px;
    width: 100%;
  }
  &__img {
    width: 63%;
    position: absolute;
    top: -40px;
    right: -50px;
    z-index: -1;
  }
  // about.html
  &__advantages {
    list-style: none;
    padding: 0;
    margin: 70px 0 0;
  }
  &__advantage {
    margin: 25px 0;
    max-width: 520px;
    width: 100%;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      margin-top: -10px;
      & .preview__icon {
        margin-left: 0;
      }
    }
  }
  &__icon {
    margin-left: 6px;
    margin-right: 30px;
  }
}

.important {
  @include main-gradient;
  &__inner {
    display: flex;
    align-items: center;
    padding: 150px 0 170px;
  }
  &__desc {
    max-width: 790px;
    width: 100%;
  }
  &__title {
    margin-bottom: 40px;
    color: $white;
  }
  &__text {
    color: $white;
    margin: 0;
    &--peach {
      color: $peach;
    }
  }
  &__text + &__text {
    margin-top: 25px;
  }
  &__img {
    margin: 0 auto;
  }
}

.promo {
  margin: 200px 0 300px;
  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__img {
    max-width: 500px;
    width: 100%;
  }
  &__desc {
    max-width: 600px;
    width: 100%;
    padding-top: 150px;
  }
  &__text {
    margin: 30px 0 0;
  }
}

.specialists {
  &__inner {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 100px -10px 0;
    width: calc(100% + 20px);
  }
  &__item {
    position: relative;
    margin: 0 10px;
    &:hover .specialists__hover {
      opacity: 1;
    }
    &:hover .specialists__text {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__text {
    position: absolute;
    top: 45px;
    left: 30px;
    color: $white;
    z-index: 3;
    transition: all 0.5s;
  }

  &__icon-bg {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    padding: 115px 15px 15px;
    transition: all 0.5s;
    opacity: 0;
    &-bg {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &-text {
      position: relative;
      font-size: 18px;
      text-align: center;
      color: $white;
      z-index: 3;
      margin: 0;
    }
  }
}

.symptoms {
  margin-top: 150px;
  &__inner {
    margin-top: 90px;
  }
  &__item {
    position: relative;
    width: 200px;
  }
  &__text {
    position: absolute;
    bottom: 35px;
    left: calc(50% - 82.5px);
    max-width: 165px;
    width: 100%;
    text-align: center;
    color: #000000;
  }
  &__arrow {
    background-color: $blue;
    border-radius: 50%;
    border: 1px solid $blue;
    box-shadow: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 20px);
    transition: all 0.3s;
    cursor: pointer;
    &--left {
      left: -65px;
    }
    &--right {
      right: -65px;
    }
    & svg path {
      transition: all 0.3s;
    }
    &:hover {
      background-color: $white;
      & svg path {
        stroke: $blue;
      }
    }
  }
}

.about-specialists {
  margin-top: 280px;
  @include main-gradient;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 145px 0 100px;
  }
  &__title {
    color: $white;
    max-width: 485px;
    width: 100%;
  }
  &__text {
    color: $white;
    max-width: 615px;
    width: 100%;
  }
  &__slider {
    max-width: 660px;
    width: 100%;
    max-height: 744px;
  }
  &__item {
    min-height: 744px;
    max-width: 660px;
    width: 100%;
    background-image: url(../img/about-specialists-card-bg.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
  }
  &__img {
    border-radius: 50%;
    margin-bottom: 25px;
  }
  &__name {
    text-align: center;
    margin-bottom: 15px;
  }
  &__lastname {
    display: block;
  }
  &__about {
    margin-top: 20px;
    color: $light-text;
  }
  &__services {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px -10px 0;
    max-width: 555px;
    width: calc(100% + 20px);
  }
  &__service {
    margin: 0 10px;
    background-image: url(../img/about-specialists-service-bg.png);
    background-size: 100% 100%;
    min-width: 155px;
    padding: 8px 10px 12px;
    color: $peach;
    &:nth-child(1),
    &:nth-child(2) {
      margin: 0 20px;
    }
  }
  .slick-dots {
    padding: 0;
    list-style: none;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    display: flex;
    & li {
      margin: 0 10px;
      padding: 0;
      &.slick-active button {
        background-color: $peach;
      }
    }
    & li button {
      width: 12px;
      height: 12px;
      background-color: $white;
      border-radius: 100%;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
.about-specialists + .app {
  margin-top: 0;
}
.steps {
  margin-top: 250px;
  &__inner {
    margin: 100px -10px 0;
    width: calc(100% + 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    & + & {
      margin-top: 150px;
      margin-bottom: 260px;
    }
  }
  &__item {
    margin: 0 10px;
    max-width: 400px;
    width: 100%;
  }
  // about.html
  &__img {
    margin: 0 10px 0 -5%;
    width: calc(50%);
  }
  &__desc {
    max-width: calc(50% - 20px);
    width: 100%;
    margin: 0 10px;
  }
}
.app {
  margin-top: 200px;
  position: relative;
  padding: 180px 0 200px;
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    right: 0;
    top: 0;
    @include pink-gradient;
    z-index: -2;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    max-width: 560px;
    width: 100%;
    margin: 80px 0 88px;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    max-width: 432px;
    width: 100%;
  }
  &__wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -50%;
      top: 25%;
      width: 560px;
      height: 560px;
      border-radius: 100%;
      background-color: $pink;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10%;
      width: 395px;
      height: 395px;
      border-radius: 100%;
      background-color: $pink;
      z-index: -1;
    }
  }
  &__img {
    margin-right: 70px;
  }
}
.start-footer {
  &__list {
    position: relative;
    list-style: none;
    margin: -100px 0 0;
    padding: 0;
    display: flex;
    z-index: 3;
  }
  &__item {
    margin: 0;
    & + & {
      margin-left: 60px;
    }
    &:nth-last-child(1) {
      margin-left: auto;
    }
  }
  &__link {
    color: $light-text;
  }
}

.accordion {
  margin-top: 220px;
  &__title {
    margin-left: 50%;
  }
  &__inner {
    margin-top: 100px;
  }
  &__item {
    padding: 40px 0 0;
    border-top: 1px solid $light-text;
    cursor: pointer;
    &.active {
      padding: 40px 0;
      .accordion__question::before {
        transform: rotate(45deg);
      }
      .accordion__question::after {
        transform: rotate(135deg);
      }
      .accordion__text {
        height: 120px;
      }
    }
    &:nth-last-child(1) {
      border-bottom: 1px solid $light-text;
    }
  }
  &__question {
    pointer-events: none;
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      width: 5px;
      height: 45px;
      background-color: $peach;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      width: 5px;
      height: 45px;
      background-color: $peach;
      transition: all 0.3s;
      transform: rotate(90deg);
    }
  }
  &__text {
    pointer-events: none;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
  }
}
.accordion + .about-specialists {
  margin-top: 200px;
}

.login {
  min-height: 100vh;
  margin-top: -136px;
  padding-top: 136px;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
  &__inner {
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    display: inline-block;
    margin-top: 150px;
  }
  &__reg {
    margin-left: 50px;
    color: $blue;
    text-decoration: none;
  }
  &__window {
    padding: 40px 48px;
    background: $white;
    border-radius: 20px;
    max-width: 430px;
    width: 100%;
    display: none;
    &.active {
      display: inline-block;
    }
  }
  &__subtitle {
    margin-bottom: 25px;
  }
  &__icons {
    margin-bottom: 30px;
  }
  &__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    & + & {
      margin-left: 15px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    &--recover {
      margin-top: 40px;
      & .login__btn {
        margin-top: 40px;
      }
    }
  }
  &__input {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    background: transparent;
    color: $light-text;
    padding: 9px 24px 11px;
    outline-color: #bdbdbd;
    &::placeholder {
      color: $light-text;
    }
    & + & {
      margin-top: 30px;
    }
  }
  &__forgot-link {
    font-size: 16px;
    line-height: 28px;
    margin: 16px 0 30px;
    color: $blue;
    cursor: pointer;
  }
  &__img {
    max-width: 650px;
    width: 100%;
  }
  &__back {
    font-size: 14px;
    color: $blue;
    margin-top: 30px;
    cursor: pointer;
  }
}

.reg {
  min-height: 100vh;
  margin-top: -136px;
  padding-top: 136px;
  background: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%);
  &__inner {
    margin-top: 100px;
    width: 100%;
    display: flex;
  }
  &__tabs-btns {
    background-image: url(../img/reg-icons/reg-steps-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 315px;
    width: 100%;
    height: 690px;
    list-style: none;
    padding: 40px 45px;
    margin: 0;
  }
  &__tabs-btn {
    margin-bottom: 23px;
    cursor: pointer;
    &-text {
      margin-top: 10px;
      color: $light-text;
      transition: all 0.3s;
      position: relative;
      pointer-events: none;
      &::after {
        content: "";
        width: 25px;
        height: 18px;
        background-image: url(../img/reg-icons/reg-icon-step-complete.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: -10px;
        top: 5px;
        opacity: 0;
      }
    }
    &.active,
    &:hover {
      & .reg__tabs-btn-text {
        color: $text;
      }
      & .reg__tabs-icon {
        background-color: $peach;
        & svg path {
          fill: $white;
        }
      }
    }
    &.complete &-text::after {
      opacity: 1;
      transition: all 1s;
    }
  }
  &__tabs-icon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: all 0.3s;
    & svg path {
      transition: all 0.3s;
    }
  }
  &__wrapper {
    background-image: url(../img/reg-icons/reg-content-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    max-width: 1000px;
    width: 100%;
    height: 690px;
    margin-left: 30px;
    padding: 50px 45px;
    position: relative;
  }
  &__steps-count {
    margin-bottom: 20px;
  }
  &__tabs-content {
    display: none;
    &.active {
      display: block;
    }
  }
  &__tabs-content &__desc {
    max-width: 680px;
    width: 100%;
    margin-bottom: 40px;
  }
  &__social {
    display: inline-block;
    margin-bottom: 40px;
  }
  &__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 25px;
    margin-bottom: -8px;
    text-decoration: none;
  }

  &__form {
    width: 100%;
  }
  &__input {
    padding: 10px 24px;
    border: 1px solid $text;
    color: $text;
    font-size: 20px;
    outline-color: $light-text;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-bottom: 40px;
    &::placeholder {
      color: $light-text;
    }
    &--name {
      max-width: 730px;
      width: 100%;
    }
    &--phone,
    &--mail {
      max-width: 267px;
      width: 100%;
      margin-right: 40px;
    }
    &--mail {
      margin-right: 160px;
    }
    &--weight,
    &--height {
      max-width: 115px;
      width: 100%;
      margin-right: 40px;
    }
  }
  &__label {
    position: relative;
    padding-right: 45px;
    margin-left: 15px;
    opacity: 0.7;
    font-size: 24px;
    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border: 4px solid $blue;
      border-radius: 100%;
      top: 10px;
      right: 25px;
      opacity: 0.7;
      cursor: pointer;
    }
    &--adds::after {
      right: auto;
      left: 10px;
    }
  }
  &__radio {
    opacity: 0;
    margin: 0 -50px 0 0;
    &-desc {
      margin-right: 30px;
    }
  }
  &__radio:checked + &__label::after,
  &__radio:checked + &__label {
    opacity: 1;
  }

  &__wrapper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 90px);
    bottom: 50px;
  }

  &__btn,
  &__btn--finish {
    font-size: 20px;
  }
  &__adds-text {
    position: relative;
    padding-left: 30px;
    &::before {
      content: "";
      width: 13px;
      height: 10px;
      position: absolute;
      left: 1.5px;
      top: 8px;
      background-image: url(../img/reg-icons/done-arrow-adds.svg);
      opacity: 0;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      left: 1px;
      top: 6px;
      border: 1px solid $blue;
      cursor: pointer;
    }
  }
  &__checkbox {
    margin: 0 -20px 0 0;
    opacity: 0;
  }
  &__checkbox:checked + &__adds-text::before {
    opacity: 1;
  }
  &__pass {
    color: $blue;
    cursor: pointer;
    &--false {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  &__file {
    &-wrapper {
      position: relative;
      padding-left: 50px;
      width: fit-content;
      &.hidden {
        display: none;
      }
    }
    &-input {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      left: 0;
      top: 0;
      opacity: 0;
    }
    &-label {
      color: $blue;
      &::before {
        content: "";
        position: absolute;
        cursor: pointer;
        left: 0;
        top: -1px;
        height: 32px;
        width: 32px;
        background-image: url(../img/reg-icons/reg-add-file.svg);
      }
    }
    &-list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 50px -10px 50px;
      max-width: 800px;
      width: 100%;
      height: 250px;
      overflow: auto;
    }
    &-item {
      display: flex;
      align-items: flex-end;
      margin: 0 10px 30px;
    }
    &-icon {
      cursor: pointer;
    }
    &-name {
      padding: 10px 24px;
      border: 1px solid $text;
      border-radius: 10px;
      color: $text;
      font-size: 20px;
      outline-color: $blue;
      border: 1px solid #bdbdbd;
      max-width: 300px;
      width: 100%;
      margin-left: 20px;
      &::placeholder {
        color: $light-text;
      }
    }
    &-formats {
      color: $light-text;
    }
  }
  /*3 step*/
  &__form-analyze {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__analyze {
    margin-bottom: 30px;
    display: inline-block;
    width: 45%;
    &-desc {
      margin-bottom: 20px;
    }
    &-item {
      display: flex;
      align-items: center;
    }
    &-name {
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
    }
  }
  /*4 step*/
  &__recomendations {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  &__meals {
    display: inline-block;
    max-width: 270px;
    width: 100%;
    &-title {
      margin-bottom: 25px;
    }
    &-item {
      display: flex;
      align-items: flex-end;
      margin-bottom: 30px;
    }
    &-img {
      height: 68px;
      width: 68px;
      background-color: #d8d8d8;
      border-radius: 5px;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-desc {
      margin-bottom: 5px;
    }
    &-link {
      color: $blue;
      & svg {
        margin-left: 10px;
      }
    }
  }
  &__buds {
    display: inline-block;
    margin: 0 auto;
    &-title {
      margin: 0 0 25px 27px;
    }
    &-item {
      position: relative;
      display: inline-block;
      max-width: 220px;
      width: 100%;
      text-align: center;
    }
    &-img {
      width: 160px;
      height: 160px;
      background-color: #d8d8d8;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin: 0 auto 15px;
    }
    &-price {
      position: absolute;
      top: 15px;
      right: -10px;
      & span {
        margin-right: 5px;
      }
    }
  }
  /*5 step*/
  &__slider {
    position: relative;
    margin-left: -5px;
    margin-right: -45px;
    &::after {
      content: "";
      height: 100%;
      width: 20%;
      background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.7) 60%);
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__doctor {
    position: relative;
    max-width: 380px;
    width: 380px;
    background: $white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px 30px;
    margin: 5px 30px 5px 5px;
    &-img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: #d8d8d8;
    }
    &-name {
      margin: 10px 0;
    }
    &-desc {
      margin-bottom: 25px;
    }
    &-link {
      font-size: 16px;
    }
    &-rating {
      position: absolute;
      top: 40px;
      right: 30px;
      & svg + svg {
        margin-left: 10px;
      }
    }
  }
}
